* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  height: 100%;
  margin: 0 auto -42px; 
}

footer {
  padding: 1% 0;
  background-color: #aaa;
  width: 100%;
  position: absolute;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

label {
  padding-right: 5px; 
}

li {
  list-style: none;
}

